*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  inline-size: 1140px;
  display: grid;
  grid-template-columns: 711px 1fr;
  grid-template-rows: 534px;
  grid-column-gap: 30px;
  align-content: end;
}

.result {
  block-size: 100%;
  inline-size: 100%;
}

.result__video-container {
  block-size: 386px;
  inline-size: 100%;
  margin-top: 78px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  display: flex;
  border: none;
  flex-direction: column;
  gap: 5px;
  width: fit-content;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__textfield {
  inline-size: 225px;
  appearance: none;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield:active {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.search-form__checkbox-list {
  margin-bottom: 5px;
  display: flex;
  gap: 15px;
}

.search-form__label-text {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.search-form__label:hover {
  text-decoration: underline;
}

.search-form__label .search-form__pseudo-checkbox {
  display: inline-block;
  block-size: 19px;
  inline-size: 19px;
  background-color: transparent;
  vertical-align: text-top;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before,
.search-form__checkbox:active + .search-form__pseudo-checkbox::before {
  content: "";
  display: block;
  margin: 1px auto;
  block-size: 15px;
  inline-size: 15px;
  background-color: #fff;
}

.search-form__submit-button {
  inline-size: 194px;
  align-self: flex-end;
  padding: 5px 72.5px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.content__details {
  block-size: 100%;
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  height: 210px;
  width: 260px;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  block-size: 100%;
  inline-size: 100%;
  overflow-y: scroll; /*Если ставлю auto, то в firefox появляется горизонатльный скролл из-за зеленогорска*/
  position: relative;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__list::-webkit-scrollbar {
  width: 0;
  background-color: #808080;
}

.content__list::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
}

.content__card-link {
  display: block;
  margin: 2px;
  color: #fff;
  text-decoration: none;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-description-container {
  block-size: 100%;
  inline-size: 100%;
  padding: 2px 0 0 2px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__video-card:hover .content__video-card-title {
  text-decoration: underline;
  /* text-underline-position: under; */ /*почему-то при дбавлении этого свойства в firefox андерлайн на текст заезжает(поэтому отключил)*/
  text-decoration-thickness: 2px;
}

.content__video-card:hover .content__video-card-description {
  text-decoration: underline;
  /* text-underline-position: under; */
}

.button {
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.more-button {
  inline-size: 399px;
  block-size: 34px;
  padding: 6px 0;
  margin: 0 2px 2px 2px;
  border: 1px solid currentColor;
  background-color: transparent;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
